<div class="tasks-container">
    <div class="tasks-card">
        <h2 class="tasks-card__header">Your tasks</h2>

        <button class="btn btn-primary tasks-card__add-task-btn" (click)="onAddTaskClick()">
            Add task</button>

        <ul class="tasks-card__list" *ngIf="tasks && tasks.length !== 0">
            <li *ngFor="let task of tasks; index as i" class="tasks-card__task-item"
                [ngClass]="{'divider': i !== tasks.length - 1}"
                (click) = "onTaskClicked(i)">
                {{task.title}}
            </li>
        </ul>
    </div>

    <div class="tasks-card">
        <h2 class="tasks-card__header">Your habits</h2>

        <button class="btn btn-primary tasks-card__add-task-btn" (click)="onAddTaskClick()">
            Add habit</button>

        <ul class="tasks-card__list" *ngIf="habits && habits.length !== 0">
            <li *ngFor="let task of habits; index as i" class="tasks-card__task-item"
                [ngClass]="{'divider': i !== habits.length - 1}"
                (click) = "onTaskClicked(i)">
                {{task.name}}
            </li>
        </ul>
    </div>

    <div *ngIf="isTaskChosen">
        <app-card (onClose)="onCloseModal()">
            <app-task-modal (onClose)="onCloseModal($event)"
            [task]="tasks[chosenTaskIndex]">
            </app-task-modal>
        </app-card>
    </div>

    <div *ngIf="creatingTask">
        <app-card (onClose)="onCloseAddTaskModal()">
            <app-add-task (onClose)="onCloseAddTaskModal($event)"></app-add-task>
        </app-card>
    </div>

    <div *ngIf="showNewLevelCard">
        <app-card (onClose)="onCloseNewLevelCard()">
            <app-new-level [level]="newlvl"></app-new-level>
        </app-card>
    </div>
    
</div>