@import "./../tasks.component.scss";

.task-card {

    &__input-container {
        margin-bottom: .5rem;
    }

    &__form-control {
        margin-top: .3rem;
        padding: .5rem;
        padding-top: .3rem;
        padding-bottom: .3rem;
        border-radius: 6px;
        border: 1px solid $color-grey;
    }

    &__form-label {
        font-size: .8rem;
    }

    &__text-warning {
        margin-top: 1rem;
        margin-bottom: .5rem;
        font-size: .9rem;
    };
}
.btn-create-task {
    float: right;
    margin-top: 1rem;
}

.loading-container {
    float: right;
    margin-right: 1rem;
    margin-top: .5rem;
}