@import './../tasks.component.scss';

.task-card {
    width: 26rem;

    @media (max-width: 768px) {
        width: 20rem;
    }

    &__input-container {
        margin-bottom: 1rem;
        position: relative;
    }

    &__form-control {
        margin-top: 0.5rem;
        padding: 0.5rem;
        padding-bottom: 0.3rem;
        border-radius: 6px;
        border: 1px solid $color-grey;
        font-size: 1.2rem;
        width: 100%;

        &--short {
            width: 10rem;
        }
    }

    &__text-warning {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: orangered;
    }

    &__btn-location {
        position: absolute;
        top: 1.9rem;
        right: 0rem;
        background: none;
        border: none;
        margin-top: 0.1rem;
        cursor: pointer;
    }
}

.btn-add-photo {
    margin-top: 1rem;
}

.btn-create-task {
    float: right;
    margin-top: 1rem;
}

.loading-container {
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
