<div class="task-container">
    <h2 class="task-card__header">Task details of <b>{{task.title}}</b></h2>
    <span class="material-symbols-outlined task-card__close-icon"
            (click)="onCloseClick()">
        close
    </span>
    <div class="task-card__field-container">
        <b>Description: </b>{{task.description}}
    </div>
    <div class="task-card__field-container">
        <b>Difficulty: </b>{{task.difficulty}}
    </div>
    <div class="task-card__field-container">
        <b>Deadline: </b>{{task.deadline.toLocaleDateString()}} {{task.deadline.toLocaleTimeString()}}
    </div>
    
    <div class="task-card__btn-finish-container">
        <button class="btn btn-primary task-card__btn-finish" (click)="onFinishClick()">
            Finish
        </button>
        <span class="circle-container" *ngIf="isLoading">
            <app-loading-circle classes="lds-ring-small"></app-loading-circle>
        </span>
    </div>
</div>
