@import "./../tasks.component.scss";

.task-container {
    position: relative;
    min-height: 12rem;
}

.task-card {

    &__header {
        font-weight: 500;
        margin-right: 1rem;
    }

    &__field-container {
        padding-bottom: 1rem;
    }

    &__close-icon {
        position: absolute;
        right: -.5rem;
        top: -1.5rem;
        cursor: pointer;
    }

    &__btn-finish-container {
        position: absolute;
    }
    &__btn-finish {
        cursor: pointer;
    }
}

.circle-container {
    position: absolute;
    bottom: 0rem;
}