<nav class="nav">
    <span class="nav__logo">Habit Game</span>
    <ul class="nav__list">
        <li class="nav__item" (click)="onItemClick('tasks')"><span>Tasks</span></li>
        <li class="nav__item" (click)="onItemClick('player')"><span>Player</span></li>
        <li class="nav__item" (click)="onItemClick('shop')"><span>Shop</span></li>
    </ul>
    <span class="material-symbols-outlined nav__menu-icon"
        #menuIcon
        (click)="changeMenuState()">
        more_vert
    </span>

    <span class="nav__money">
        <img src="./assets/dollar.png" class="nav__money-img">
        <span class="nav__money-label">
            {{user?.gold ?? 0}}
        </span>
    </span>
    @if(showingMenu) {
        <span class="nav__menu" #menu>
            <ul>
                <li (click)="onLogoutClick()">Log out</li>
            </ul>
        </span>
    }
    
</nav>
