@import './../../../styles.scss';

.nav {
    background-color: $color-primary;
    color: $color-white;
    height: 3rem;
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    align-items: center;

    &__list {
        list-style: none;
        margin: 0;
        height: 100%;
        padding: 0;
    }

    &__item {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
        cursor: pointer;
        height: 100%;
        vertical-align: middle;
        &:hover {
            background-color: rgba($color-primary-dark, 1);
        }
        span {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    &__logo {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.4rem;
    }

    &__menu-icon {
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }

    &__menu {
        position: absolute;
        right: 1rem;
        top: 3.5rem;
        border-radius: 0.5rem;
        color: $color-text;
        box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.15);
        background-color: $color-white;
        z-index: 10;
        ul {
            list-style: none;
            padding: 0;
            li {
                margin: 0;
                cursor: pointer;
                padding-right: 1rem;
                padding-left: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                &:hover {
                    background-color: rgba(black, 0.15);
                }
            }
        }
        border: 1px solid rgba($color: black, $alpha: 0.3);
    }

    &__money {
        position: absolute;
        right: 4rem;
        display: inline-block;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__money-img {
        width: 24px;
    }

    &__money-label {
        color: gold;
        font-weight: bold;
        display: inline-block;
        margin-left: 0.3rem;
        transform: translateY(-5px);
    }
}
