
<div class="player-container">
    <div class="player-info-row">
        <div class="player">
            <div class="player__image-container">
                <img src="assets/img/profile.png" alt="User profile" class="player__image">
            </div>
        
            <div class="player__info">
                <div *ngIf="isPlayerInfoLoaded">
                    <div class="info-label info-name">
                        {{userInfo.name}}
                    </div>
                    <div class="info-label">
                        <span class="material-symbols-outlined info-label__icon">
                            mail
                        </span>
                        {{userInfo.emailAddress}}
                    </div>
                    <div class="info-label">
                        <span class="material-symbols-outlined info-label__icon">
                            favorite
                        </span>
                        {{userInfo.health}} / 100 hp
                    </div>
                    <div class="info-label">
                        <span class="material-symbols-outlined info-label__icon">
                            monitoring
                        </span>
                        {{userInfo.experience}} / {{userInfo.maxExperience}} exp
                    </div>
                    <div class="info-label">
                        <span class="material-symbols-outlined info-label__icon">
                            monetization_on
                        </span>
                        {{userInfo.gold}} gold
                    </div>
                </div>
            </div>
        </div>
        <div class="last-tasks">
            <app-last-tasks></app-last-tasks>
        </div>
    </div>
    <div class="eq">
        <h3 class="eq__header">Your equipment</h3>
    </div>
</div>
