<div class="item-card">
    <img class="item-card__img" [src]="imageName">
    <span class="item-card__name">{{item.name}}</span>
    <div class="item-card__details">
        <div class="item-card__description">
            {{item.description}}
        </div>
        <div *ngIf="isShopItem()" class="item-card__cost">
            Cost: {{shopItem().cost}}
        </div>
        <app-button [label]="buttonTitle()" width="8rem" (onClick)="onItemClick()" [disabled]="loading"></app-button>
    </div>
    <span class="item-card__count">{{eqItem().count}}</span>    
</div>