<div class="auth-container">
    <div class="auth-card">
        <h1 class="auth-card__logo">
            {{isLoginView ? 'Welcome back!': 'Hello there!'}}
        </h1>
        <div class="auth-card__form-container">
            <form [formGroup]="authForm" class="auth-card__form" (ngSubmit)="onAuthButtonClicked()">
                <div class="auth-card__input-container">
                    <div>
                        <label class="form-label">Email address</label>
                    </div>
                    <div class="input-container">
                        <input type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email address"/>
                    </div>
                    
                </div>
                <div *ngIf="!isLoginView" class="auth-card__input-container">
                    <div>
                        <label class="form-label">Name</label>
                    </div>
                    <div>
                        <input type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Name"/>
                    </div>
                </div>

                <div class="auth-card__input-container">
                    <div>
                        <label class="form-label">Passport</label>
                    </div>
                    <div>
                        <input type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="Passport"/>
                    </div>
                </div>


                <div class="auth-card__button-container">
                    <app-button [label]="isLoginView ? 'Login' : 'Sign up'" [disabled]="!authForm.valid">
                    </app-button>
                </div>

                <div class="auth-card__change-method">
                    {{isLoginView ? 'Don\'t have an account? ': 'Already have an account?'}} 
                    <span class="login-text-button" (click)="changeMethod()">
                        {{isLoginView ? 'Sign up' : 'Login'}}
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>